<h1>Hakkımda</h1>
<article class="article">
  Merhaba ben Tarık Koç. 2022 yılında Karabük Üniversitesi Endüstri Mühendisliği
  bölümünden mezun oldum. Javascript, React, NodeJS ve Angular alanlarında bilgi
  ve deneyim sahibiyim. Şu anda yazılım geliştiricisi olarak çalışmaktayım.
</article>
<h1>Beni daha iyi tanıyabilirsin.</h1>
<ul class="article-ul">
  <li>
    <a href="https://github.com/Tarikkkoc" target="_blank">Github</a>
    <a
      href="https://www.linkedin.com/in/ahmet-tarık-koç-3b952a193/"
      target="_blank"
      >Linkedin</a
    >
    <a href="https://www.instagram.com/ahmet_tarik/" target="_blank"
      >Instagram</a
    >
  </li>
</ul>
