<div class="author">
    <h1 class="author__heading">Hoş geldiniz.</h1>
    <p class="author__body">Tarık Koç - Software Developer</p>
  </div>

  <img src="https://i.pinimg.com/736x/b3/19/d8/b319d809655f965c91ea4f4cb4340091.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">

  <section class="articles">
    <h2 class="articles__heading">Son gönderiler</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
         <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
         </a>
        </li>
      <% }) %>
    </ul>
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; Eski gönderileri görüntüle</a>
    <% } %>

  </section>